.canvas-area {
  width: 600px;
  height: 400px;
  margin: 20px auto auto;
  position: relative;
  border-radius: 2px;
  box-shadow: 0px 0px 12px #e6e6e6;
}

.snake-food {
  width: 10px;
  height: 10px;
  position: absolute;
  animation: twinkle 1s ease-in-out infinite;
}

@keyframes  twinkle{
  from, to {
    background-color: #56b962;
  }
  50% {
    background-color: #fff;
  }
}